@import "includes/normalize.scss";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'e-Ukraine';
	font-weight: normal;
	font-style: normal;
}

:root{
	--container: 1110px;

	--white: #FFF;
	--black: #1C1D1E;
	--border: #DFDFDF;
	--header-bgd: linear-gradient(90deg, #1B1B1D 40.94%, #383E45 100%);;
}

body {
	margin: 0;
	font-size: 16px;
	max-width: 1920px;
	/* line-height: Line-height(24)/font-size(16)=1.5 */
	line-height: 1.5;
	letter-spacing: 0.02em;
	box-sizing: border-box;
	background-color: var(--body-bgd);
}

main {
	overflow-x: hidden;
}
html{
	scroll-behavior: smooth;
}

.container{
	max-width: calc(var(--container) + 30px);
	margin: 0 auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

p:last-child {
	margin-bottom: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

button {
	cursor: pointer;
	outline: none;
	border: none;
	background-color: transparent;
}

img {
	display: block;
	width: 100%;
	height: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
	border: none;
	outline: none;
}

.h-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.header{
	background: var(--header-bgd);
	padding-top: 20px;

	&__inner{
		display: flex;
		align-items: center;
		justify-content: space-between;

		img{
			max-width: 108px;
		}
	}

	&__social{
		display: flex;
		gap: 10px;
	}
}

.banner{
	background: var(--header-bgd);
	padding: 20px 0;

	h1{
		font-size: 20px;
		color: var(--white);
		margin-bottom: 15px;
	}

	&__form{
		display: flex;
		flex-direction: column;
		gap: 5px;

		input[type='text']{
			background-image: url(../img/lupa.svg);
			background-position: 10px 10px;
			background-repeat: no-repeat;

			padding: 10px 10px 10px 39px;
			border-radius: 8px;
			width: 100%;
			font-size: 16px;
			color: var(--black);

			&::placeholder{
				font-size: 16px;
				color: var(--black);
			}
		}

		input[type="date"]::-webkit-calendar-picker-indicator {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
		}

		input[type='date']{
			position: relative;
			width: 100%;
			max-width: 128px;
			border-radius: 8px 0 0 8px;
			padding: 10px 0 10px 39px;
			font-size: 14px;
			font-weight: 300;
			line-height: 140%;
			border-right: 1px solid var(--border);

			background-image: url(../img/calendar.svg);
			background-position: 10px 10px;
			background-repeat: no-repeat;
		}

	}

	&__form_date{

	}
}