html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
table,
table tbody,
table tfoot,
table tfoot tr tf,
table thead,
table tr,
table tr th,
tr td {
  margin: 0;
  padding: 0;
  background: 0 0;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  background-image: none
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}
ul {
  list-style-type: none
}
a {
  text-decoration: none
}
button {
  background: 0 0;
  border: none;
  outline: 0;
  cursor: pointer
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: e-Ukraine;
  font-weight: 400;
  font-style: normal
}
:root {
  --container: 1630px;
  --white: #FFF;
  --black: #1C1D1E;
  --border: #DFDFDF;
  --gray-border: #939393;
  --header-bgd: linear-gradient(90deg, #1B1B1D 40.94%, #383E45 100%);
  --white-bgd: #F5F5F5;
  --yellow: #FFCE1F;
  --yellow-opacity: #FFF7DA;
  --yellow-rat: #CEA924;
  --green: #488F60;
  --yellow-2: #FFDB5F;
  --red: #DF4723;
  --red-opacity: #FEDDDD;
  --blue: #3F6B9E;
  --blue-opacity: #F1F7FF;
  --bgd-recomend: #E7F6EC;
  --gray-txt: #363636
}
body {
  margin: 0;
  font-size: 16px;
  max-width: 1920px;
  line-height: 1.5;
  letter-spacing: .02em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
main {
  overflow-x: hidden
}
html {
  scroll-behavior: smooth
}
.container {
  max-width: calc(var(--container) + 30px);
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0
}
p:last-child {
  margin-bottom: 0
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none
}
a {
  color: currentColor;
  text-decoration: none
}
button {
  cursor: pointer;
  outline: 0;
  border: none;
  background-color: transparent
}
img {
  display: block;
  width: 100%;
  height: 100%
}
button,
input,
select,
textarea {
  font: inherit;
  border: none;
  outline: 0
}
.h-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}
.header {
  background: var(--header-bgd);
  padding-top: 20px
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.header__inner img {
  max-width: 108px
}
.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px
}
.banner {
  background: var(--header-bgd);
  padding: 20px 0
}
.banner h1 {
  font-size: 20px;
  color: var(--white);
  margin-bottom: 15px
}
.banner__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px
}
.banner__form input[type=text] {
  background-image: url(../img/lupa.svg);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 10px 10px 10px 39px;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  color: var(--black)
}
.banner__form input[type=text]::-webkit-input-placeholder {
  font-size: 16px;
  color: var(--black)
}
.banner__form input[type=text]::-moz-placeholder {
  font-size: 16px;
  color: var(--black)
}
.banner__form input[type=text]:-ms-input-placeholder {
  font-size: 16px;
  color: var(--black)
}
.banner__form input[type=text]::-ms-input-placeholder {
  font-size: 16px;
  color: var(--black)
}
.banner__form input[type=text]::placeholder {
  font-size: 16px;
  color: var(--black)
}
.banner__form input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0
}
.banner__form input[type=date] {
  position: relative;
  width: 100%;
  height: 44px;
  max-width: 128px;
  border-radius: 8px 0 0 8px;
  padding: 12px 10px 12px 39px;
  font-size: 14px;
  font-weight: 300;
  line-height: 140%;
  border-right: 1px solid var(--border);
  background-image: url(../img/calendar.svg);
  background-position: 10px 10px;
  background-repeat: no-repeat
}
.banner__form_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.banner__form_passenger {
  width: 100%
}
.banner__form_passenger button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 10px;
  background: var(--white);
  border-radius: 0 8px 8px 0;
  width: 100%
}
.banner__form_passenger .passenger__txt {
  font-size: 14px;
  font-weight: 300;
  line-height: 140%
}
.banner__form_passenger img {
  max-width: 20px;
  margin-right: 5px
}
.banner__form_passenger .passenger__txt_margin {
  margin-bottom: 10px
}
.banner__form_passenger .form_passenger_body {
  display: none;
  background: var(--white);
  border-radius: 0 0 8px 8px;
  padding: 10px 35px
}
.schedule {
  padding-top: 50px;
  background: var(--white-bgd)
}
.schedule h2 {
  font-size: 20px;
  color: var(--black);
  margin-bottom: 20px
}
.schedule__reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--white);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px
}
.schedule__arrow {
  margin-left: auto;
  border-radius: 50%;
  padding: 13px;
  border: 1px solid var(--gray-border);
  cursor: pointer
}
.schedule__arrow img {
  max-width: 24px
}
.schedule__reverse_con h3 {
  color: var(--gray-border);
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 300;
  line-height: 140%
}
.schedule__reverse_con p {
  font-size: 14px;
  font-weight: 300;
  line-height: 140%
}
.schedule__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px
}
.schedule__filter li {
  background: var(--white);
  border: 1px solid var(--border);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px
}
.schedule__filter img {
  max-width: 24px;
  margin-left: auto
}
.schedule__filter p {
  font-size: 14px;
  font-weight: 300;
  line-height: 140%;
  color: var(--black);
  margin-right: 10px
}
.schedule__filter .filter__arrows {
  max-width: 27px
}
.schedule__filter_li {
  width: 100%;
  max-width: 170px
}
.schedule__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.schedule .schedule__date_li {
  padding: 5px 10px 10px;
  background: var(--white);
  border-bottom: 5px solid var(--border)
}
.schedule .schedule__date_li:first-child {
  border-radius: 10px 0 0 10px
}
.schedule .schedule__date_li:last-child {
  border-radius: 0 10px 10px 0
}
.schedule__date__departure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.schedule__date__departure p {
  font-size: 12px;
  color: var(--gray-border);
  margin-right: 4px
}
.schedule__date__departure .departure__places {
  font-size: 12px;
  font-weight: 300;
  color: var(--gray-border);
  padding: 4px;
  border-radius: 50%;
  background: var(--white-bgd);
  margin-right: 0
}
.schedule .departure__price {
  font-size: 10px;
  font-weight: 300;
  color: var(--gray-border)
}
.schedule .schedule__date_active {
  border-bottom: 5px solid var(--yellow)
}
.schedule .schedule__date_active .schedule__date__departure p {
  color: var(--black)
}
.schedule .schedule__date_active .departure__price {
  color: var(--black)
}
.ticket {
  padding: 20px 0 100px;
  background: var(--white-bgd)
}
.ticket__list li {
  padding: 15px;
  border-radius: 8px;
  background: var(--white);
  -webkit-box-shadow: 0 0 10px 0 rgba(108,108,108,.4);
  box-shadow: 0 0 10px 0 rgba(108,108,108,.4);
  margin-bottom: 20px
}
.ticket__list li:last-child {
  margin-bottom: 0
}
.ticket__list .ticket__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--white-bgd);
  margin-bottom: 15px
}
.ticket__list .ticket__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.ticket__list .ticket__header p {
  font-size: 14px;
  font-weight: 300;
  line-height: 140%
}
.ticket__list .ticket__logo {
  padding: 5px;
  background: var(--border);
  border-radius: 50%;
  margin-right: 5px
}
.ticket__list .ticket__logo img {
  max-width: 20px
}
.ticket__list .ticket__rating {
  margin-left: auto
}
.ticket__list .ticket__rating p {
  padding: 8px 10px;
  background: var(--yellow-opacity);
  border-radius: 16.5px;
  color: var(--yellow-rat);
  font-size: 12px
}
.ticket__list .ticket__info__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 9px
}
.ticket__list .ticket__info__first:last-child {
  margin-bottom: 0
}
.ticket__list .ticket__time {
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.ticket__list .ticket__time h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 140%
}
.ticket__list .ticket__time p {
  font-size: 10px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--gray-border);
  margin-top: auto;
  white-space: nowrap
}
.ticket__list .ticket__time p img {
  max-width: 10px;
  margin-right: 3px
}
.ticket__list .ticket__info {
  margin-bottom: 15px
}
.ticket__list .time__opacity {
  opacity: 0
}
.ticket__list .ticket__city {
  margin-left: -14px
}
.ticket__list .ticket__city h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  margin-bottom: 5px
}
.ticket__list .ticket__city img {
  max-width: 17px;
  margin-left: 3px
}
.ticket__list .ticket__city .ticket__city_mar {
  margin-bottom: 0
}
.ticket__list .ticket__city p {
  font-size: 12px;
  font-weight: 300;
  color: var(--gray-border);
  margin-bottom: 25px
}
.ticket__list .ticket__arrival {
  background: var(--border);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin-bottom: 15px
}
.ticket__list .ticket__arrival img {
  max-width: 20px;
  margin-right: 5px
}
.ticket__list .ticket__arrival p {
  font-size: 12px;
  color: var(--black)
}
.ticket__list .ticket__graphic {
  padding-top: 15px;
  border-top: 1px solid var(--white-bgd);
  margin-bottom: 15px
}
.ticket__list .graphic__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.ticket__list .graphic__lft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.ticket__list .graphic__lft .graphic__calendar {
  margin-right: 5px;
  background: var(--white-bgd);
  padding: 4px;
  border-radius: 50%
}
.ticket__list .graphic__lft .graphic__calendar img {
  max-width: 13px
}
.ticket__list .graphic__lft h3 {
  font-size: 12px;
  font-weight: 300;
  color: var(--gray-border)
}
.ticket__list .graphic__lft h3 span {
  font-size: 12px;
  font-weight: 300;
  color: var(--black)
}
.ticket__list .graphic__rht {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px
}
.ticket__list .graphic__rht p {
  font-size: 12px;
  font-weight: 300;
  color: var(--black)
}
.ticket__list .graphic__item {
  padding: 4px;
  background: var(--white-bgd);
  border-radius: 50%
}
.ticket__list .graphic__item img {
  max-width: 13px
}
.ticket__list .details__places__people {
  background: var(--white-bgd);
  border-radius: 50%;
  padding: 4px
}
.ticket__list .details__places__people img {
  width: 14px
}
.ticket__list .details__places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.ticket__list .details__places p {
  font-size: 12px;
  font-weight: 300;
  color: var(--black);
  white-space: nowrap;
  margin-left: 5px
}
.ticket__list .ticket__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--white-bgd)
}
.ticket__list .details__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 221px;
  padding: 3.5px 54.5px;
  background: var(--white-bgd);
  margin-left: 15px;
  border-radius: 8px;
  font-size: 12px;
  color: var(--gray-border)
}
.ticket__list .details__btn img {
  max-width: 24px;
  margin-left: 8px
}
.ticket__list .ticket__cost {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 8px
}
.ticket__list .ticket__cost h2 {
  font-size: 20px;
  color: var(--black)
}
.ticket__list .ticket__cost p {
  font-size: 12px;
  color: var(--green);
  margin-left: 5px
}
.ticket__list .ticket__cost img {
  max-width: 20px
}
.ticket__list .ticket__prepayment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.ticket__list .ticket__bron {
  padding: 15px 25px;
  background: var(--yellow);
  width: 100%;
  border-radius: 8px;
  margin-bottom: 7px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--black)
}
.ticket__list .ticket__posadka {
  font-size: 12px;
  color: var(--gray-border);
  text-transform: uppercase;
  text-align: center
}
.ticket__list .ticket__recomend {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--white-bgd);
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.ticket__list .rubicon__recomend {
  background: var(--yellow-2);
  border-radius: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 10px;
  padding: 4.5px 7px
}
.ticket__list .rubicon__recomend img {
  max-width: 15px;
  margin-right: 5px
}
.ticket__list .rubicon__reis {
  padding: 6px 9.5px;
  background: var(--red-opacity);
  border-radius: 17px
}
.ticket__list .rubicon__reis p {
  color: var(--red);
  font-size: 10px
}
.ticket__list .rubicon__fast {
  padding: 6px 9.5px;
  border-radius: 17px;
  background: var(--blue-opacity)
}
.ticket__list .rubicon__fast p {
  font-size: 10px;
  color: var(--blue)
}
.ticket__list .rubicon__chip {
  padding: 6px 9.5px;
  border-radius: 17px;
  background: var(--bgd-recomend)
}
.ticket__list .rubicon__chip p {
  font-size: 10px;
  color: var(--green)
}
.ticket__list .ticket__prepayment_fiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.ticket__list .ticket__prepayment_fiv img {
  max-width: 20px;
  margin-left: 5px
}
.ticket__list .ticket__prepayment_fiv p {
  font-size: 12px;
  color: var(--gray-border);
  text-transform: uppercase
}
.section__title {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--black);
  margin-bottom: 20px
}
@media screen and (min-width:768px) {
  .section__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
    max-width: 950px
  }
}
.prices {
  padding-bottom: 100px;
  background: var(--white-bgd)
}
@media screen and (min-width:768px) {
  .prices {
    padding-bottom: 150px
  }
}
.prices__ticket {
  padding: 17px 13px;
  background: var(--white);
  border-radius: 8px;
  width: 100%
}
.prices__ticket li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px
}
.prices__ticket li:last-child {
  margin-bottom: 0
}
.prices__ticket a {
  font-size: 14px;
  font-weight: 300;
  line-height: 140%;
  color: var(--black);
  white-space: nowrap;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.prices__ticket a:hover {
  color: var(--yellow-rat)
}
.prices__ticket p {
  font-size: 12px;
  color: var(--black);
  white-space: nowrap;
  margin-top: auto
}
.prices__ticket .dash {
  width: 100%;
  border-bottom: 1px solid var(--border);
  margin: 0 5px;
  min-width: 20px;
  margin-bottom: 4px
}
.prices__ticket .ptices__ticket_title {
  font-size: 16px;
  color: var(--black)
}
@media screen and (min-width:768px) {
  .prices__ticket {
    padding: 30px
  }
  .prices__ticket li {
    margin-bottom: 20px
  }
  .prices__ticket li br {
    display: none
  }
  .prices__ticket a {
    font-size: 16px;
    font-weight: 300;
    line-height: 150%
  }
  .prices__ticket p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
  }
  .prices__ticket .ptices__ticket_title {
    font-size: 24px;
    margin-bottom: 5px
  }
}
.about {
  padding-bottom: 100px;
  background: var(--white-bgd)
}
.about__inner img {
  text-align: center;
  border-radius: 8px;
  margin-bottom: 30px
}
.about__inner .about__from_des {
  display: none
}
.about__txt__description p {
  font-size: 14px;
  font-weight: 300;
  line-height: 140%;
  margin-bottom: 15px
}
.about__txt__description p:last-child {
  margin-bottom: 0
}
@media screen and (min-width:768px) {
  .about__inner .about__from_des {
    display: block;
    max-width: 820px
  }
  .about__inner .about__from_mob {
    display: none
  }
  .about__txt__description p {
    font-size: 20px;
    font-weight: 300;
    line-height: normal
  }
}
@media screen and (min-width:1280px) {
  .about {
    padding-bottom: 150px
  }
  .about__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    gap: 40px
  }
  .about__inner img {
    margin-bottom: 0
  }
  .about__inner br {
    display: none
  }
}
.flights {
  padding-bottom: 100px;
  background: var(--white-bgd)
}
.flights__main__ph {
  position: relative;
  background: var(--white-bgd)
}
.flights__main__ph img {
  border-radius: 5px
}
.flights__main__ph .from__des {
  display: none
}
.flights__main__ph p {
  font-size: 20px;
  color: var(--white);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px
}
@media screen and (min-width:768px) {
  .flights {
    padding-bottom: 150px
  }
  .flights .from__des {
    display: block
  }
  .flights .from__mob {
    display: none
  }
}
@media screen and (min-width:1280px) {
  .flights p {
    padding: 50px;
    max-width: 746px;
    font-size: 36px
  }
}
.routes {
  padding-bottom: 100px;
  background: var(--white-bgd)
}
@media screen and (min-width:768px) {
  .routes {
    padding-bottom: 150px
  }
}
@media screen and (min-width:1280px) {
  .routes__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2,1fr);
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2,1fr);
    gap: 20px
  }
}
.prices__ticket_mar {
  margin-bottom: 20px
}
.prices__ticket_mar:last-child {
  margin-bottom: 0
}
@media screen and (min-width:1280px) {
  .prices__ticket_mar {
    margin-bottom: 0
  }
}
.similar {
  padding-bottom: 100px;
  background: var(--white-bgd)
}
@media screen and (min-width:768px) {
  .similar {
    padding-bottom: 150px
  }
  .similar__inner {
    background: var(--white);
    border-radius: 8px;
    padding: 30px
  }
  .similar__inner .prices__ticket {
    padding: 0;
    padding-bottom: 30px
  }
  .similar__inner .prices__ticket:last-child {
    padding-bottom: 0;
    padding-top: 30px
  }
  .similar .line {
    border-bottom: 1px solid var(--border);
    width: 100%
  }
}
@media screen and (min-width:1280px) {
  .similar__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  .similar__inner .prices__ticket {
    padding-right: 30px;
    padding-bottom: 0
  }
  .similar__inner .prices__ticket:last-child {
    padding-left: 30px;
    padding-top: 0
  }
  .similar .line {
    border-right: 1px solid var(--border);
    border-bottom: none;
    height: auto;
    width: 1px
  }
}
.questions {
  padding-bottom: 100px;
  background: var(--white-bgd)
}
.questions__asked_des {
  display: none
}
.questions__head button {
  display: none
}
.questions__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0;
  font-size: 16px;
  color: var(--black);
  cursor: pointer
}
.questions__all img {
  max-width: 25px;
  margin-right: 10px
}
.questions__list {
  max-height: 400px;
  overflow-y: scroll
}
.questions__list::-webkit-scrollbar {
  visibility: visible
}
.questions__list_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 9px 0;
  padding-right: 9px
}
.questions__list_header svg {
  width: 100%;
  max-width: 17px;
  margin-left: 30px;
  fill: var(--gray-border);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.questions__list_header h3 {
  font-size: 14px;
  color: var(--gray-border);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.questions .questions__list_active h3 {
  color: var(--black);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.questions .questions__list_active svg {
  fill: var(--black);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.questions .questions__body_active {
  max-height: 500px;
  -webkit-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
  opacity: 1
}
.questions__list_body {
  max-height: 0;
  opacity: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  overflow: hidden
}
.questions__list_body p {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  color: var(--black)
}
.questions__list_body span {
  font-weight: 500
}
.questions__ask {
  margin-top: 15px;
  padding: 15px 25px;
  width: 100%;
  background: var(--yellow);
  border: 1px solid var(--yellow);
  border-radius: 8px;
  font-size: 16px;
  color: var(--black);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.questions__ask:hover {
  background: 0 0;
  border: 1px solid var(--yellow)
}
@media screen and (min-width:768px) {
  .questions {
    padding-bottom: 150px
  }
  .questions li {
    margin-bottom: 20px
  }
  .questions li:last-child {
    margin-bottom: 0
  }
  .questions__all {
    font-size: 24px;
    margin-bottom: 20px
  }
  .questions__list_header {
    padding: 0
  }
  .questions__list_header h3 {
    font-size: 20px
  }
  .questions__list_header svg {
    max-width: 20px;
    height: 20px
  }
  .questions__list_body p {
    font-size: 16px;
    line-height: 150%
  }
  .questions__list_body span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
  }
}
@media screen and (min-width:1280px) {
  .questions__ask {
    display: none
  }
  .questions__all_qu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px
  }
  .questions__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px
  }
  .questions__head h2 {
    margin-bottom: 0
  }
  .questions__head button {
    display: block;
    max-width: 217px;
    margin-top: 0
  }
  .questions__inner {
    display: none
  }
  .questions__asked_des {
    display: block
  }
  .questions__asked_des li {
    margin-bottom: 15px
  }
  .questions__asked_des li:last-child {
    margin-bottom: 0
  }
  .questions__asked_des button {
    font-size: 24px;
    color: var(--gray-border);
    padding: 15px;
    text-align: start
  }
  .questions__asked_des .asked_des_active {
    color: var(--black)
  }
  .questions__list {
    width: 100%;
    max-width: 1110px;
    padding-left: 20px;
    border-left: 1px solid var(--border);
    max-height: none;
    overflow-y: unset
  }
}
.reviews {
  padding: 50px 0
}
.reviews .section__title_mob {
  display: none
}
@media screen and (min-width:768px) {
  .reviews {
    padding: 100px 0
  }
}
@media screen and (min-width:1280px) {
  .reviews .section__title_desc {
    display: none
  }
  .reviews .section__title_mob {
    display: block;
    max-width: 450px
  }
  .reviews__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 30px
  }
  .reviews__title_des {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}
.reviews__slider_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.reviews__slider_list p {
  font-size: 14px;
  font-weight: 300;
  line-height: 140%;
  color: var(--black);
  margin-bottom: 15px
}
.reviews__slider_list p:last-child {
  margin-bottom: 0
}
.reviews__slider_list .reviews__people {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.reviews__slider_list .reviews__people img {
  max-width: 35px;
  border-radius: 50%;
  margin-right: 7px
}
.reviews__slider_list .reviews__people h3 {
  font-size: 12px;
  color: var(--gray-txt);
  margin-bottom: 5px
}
.reviews__slider_list .reviews__people p {
  font-size: 12px;
  font-weight: 300;
  color: var(--gray-border)
}
@media screen and (min-width:768px) {
  .reviews__slider_list p {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal
  }
  .reviews__slider_list .reviews__people {
    margin-top: 30px
  }
  .reviews__slider_list .reviews__people img {
    max-width: 51px;
    margin-right: 15px
  }
  .reviews__slider_list .reviews__people h3 {
    font-size: 20px;
    margin-bottom: 10px
  }
  .reviews__slider_list .reviews__people p {
    font-size: 14px;
    line-height: 140%
  }
}
@media screen and (min-width:1280px) {
  .reviews__slider_list {
    max-width: 820px
  }
}
.reviews__con_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
  gap: 20px
}
.reviews__con_button .reviews__button {
  padding: 12px;
  border-radius: 50%;
  border: 1px solid var(--gray-border);
  cursor: pointer
}
.reviews__con_button .reviews__button img {
  max-width: 24px
}
@media screen and (min-width:1280px) {
  .reviews__con_button {
    margin-top: auto
  }
}
.description {
  padding-top: 100px;
  background: var(--white-bgd)
}
.description:last-child {
  padding-bottom: 100px
}
.description__txt {
  font-size: 14px;
  font-weight: 300;
  line-height: 140%;
  color: var(--black);
  margin-bottom: 15px
}
.description__txt:last-child {
  margin-bottom: 0
}
.description__list {
  margin-bottom: 15px
}
.description__list li {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 5px
}
.description__list li::before {
  content: "";
  display: block;
  height: 5px;
  width: 5px;
  background: var(--black);
  border-radius: 50%
}
.description__list p {
  font-size: 14px;
  font-weight: 300;
  line-height: 140%;
  color: var(--black);
  margin-left: 10px
}
@media screen and (min-width:768px) {
  .description {
    padding-top: 150px
  }
  .description:last-child {
    padding-bottom: 150px
  }
  .description__txt {
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    max-width: 820px
  }
  .description__list p {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal
  }
  .description__list li {
    margin-bottom: 10px
  }
  .description__list li:last-child {
    margin-bottom: 0
  }
  .description__list li::before {
    height: 6px;
    width: 6px
  }
}
.footer {
  padding: 50px 0;
  background: var(--black)
}
.footer__logo {
  max-width: 127px;
  margin-bottom: 40px
}
.footer__about {
  padding-bottom: 40px;
  border-bottom: 1px solid var(--border)
}
.footer__about li {
  margin-bottom: 30px
}
.footer__about li:last-child {
  margin-bottom: 0
}
.footer__about a {
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  color: var(--white)
}
.footer__social {
  padding: 40px 0;
  border-bottom: 1px solid var(--border)
}
.footer__social li {
  margin-bottom: 25px
}
.footer__social li:last-child {
  margin-bottom: 0
}
.footer__social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--white)
}
.footer__social a img {
  max-width: 24px;
  margin-right: 10px
}
.footer__social .footer__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px
}
.footer__social .footer__media li {
  margin: 0;
  margin-right: 20px
}
.footer__social .footer__media li:last-child {
  margin-right: 0
}
.footer__social .footer__media img {
  max-width: 50px;
  margin: 0
}
.footer__politic {
  padding-top: 40px
}
.footer__politic li {
  margin-bottom: 20px
}
.footer__politic li:last-child {
  margin-bottom: 0
}
.footer__politic a {
  color: var(--gray-border);
  font-size: 14px;
  font-weight: 300;
  line-height: 140%
}