html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
table,
table tbody,
table tfoot,
table tfoot tr tf,
table thead,
table tr,
table tr th,
tr td {
  margin: 0;
  padding: 0;
  background: 0 0;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  background-image: none
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}
ul {
  list-style-type: none
}
a {
  text-decoration: none
}
button {
  background: 0 0;
  border: none;
  outline: 0;
  cursor: pointer
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Avenir Next LT Pro";
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0
}
:root {
  --container: 1110px;
  --black: #353C45;
  --white: #FFF;
  --body-bgd: #F8F8F8;
  --green-banner: linear-gradient(90deg, #7BBE03 0%, #BCEC0E 100%);
  --green: #159F0A;
  --green-bgd: rgba(21, 159, 10, 0.10);
  --grey: #737373;
  --grey-sel: #353C45;
  --orange: #FD990A;
  --orange-hover: #DF8300;
  --blue: #0F8CD1;
  --grey-pagination: #D8D8D8;
  --green-pagination: #ACDD6B;
  --footer-bgd: #E9E9E9
}
body {
  margin: 0;
  font-size: 16px;
  max-width: 1920px;
  line-height: 1.5;
  letter-spacing: .02em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--body-bgd)
}
main {
  overflow-x: hidden
}
html {
  scroll-behavior: smooth
}
.container {
  max-width: calc(var(--container) + 30px);
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0
}
p:last-child {
  margin-bottom: 0
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none
}
a {
  color: currentColor;
  text-decoration: none
}
button {
  cursor: pointer;
  outline: 0;
  border: none;
  background-color: transparent
}
img {
  display: block;
  width: 100%;
  height: 100%
}
button,
input,
select,
textarea {
  font: inherit;
  border: none;
  outline: 0
}
.h-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}
.header {
  background-color: var(--white)
}
.header__inner {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px
}
.header__logo {
  max-width: 107px
}
.header__logo_dt {
  display: none
}
.header__txt {
  color: var(--black);
  font-size: 13px;
  font-weight: 500
}
@media screen and (min-width:768px) {
  .header__inner {
    gap: 40px
  }
  .header__logo {
    display: none
  }
  .header__logo_dt {
    display: block;
    max-width: 185px
  }
  .header__txt {
    font-size: 16px
  }
}
.banner {
  padding: 20px 0 22px
}
.banner__inner {
  background: var(--green-banner);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 6px 19px 4px 19px;
  border-radius: 12px;
  gap: 13px;
  overflow: hidden
}
.banner__txt {
  min-width: 157px
}
.banner__txt__title {
  color: var(--white);
  text-shadow: 0 2px 10px rgba(0,0,0,.25);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase
}
.banner__txt__desc {
  color: var(--white);
  text-shadow: 0 2px 10px rgba(0,0,0,.25);
  font-size: 14px
}
.banner__window {
  margin-top: -3px;
  max-width: 87px;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25))
}
.banner__window_d {
  display: none
}
@media screen and (min-width:768px) {
  .banner {
    padding: 35px 0 51px
  }
  .banner h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 7px
  }
  .banner h1 br {
    display: none
  }
  .banner p {
    font-size: 22px
  }
  .banner__inner {
    padding: 0 169px 0 47px
  }
  .banner .banner__window {
    display: none
  }
  .banner .banner__window_d {
    display: block;
    max-width: 154px;
    margin-bottom: -6px
  }
}
.option {
  padding-bottom: 26px
}
.option__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}
.option__list__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px
}
.option__list__card_mar {
  margin-left: 15px
}
.option__list__card_top {
  margin-top: 13px
}
.option__list__icon {
  width: 24px
}
.option__list__txt {
  color: var(--black);
  font-size: 14px;
  line-height: 1.2
}
.option__list__txt_bold {
  font-weight: 600
}
.option__br_d {
  display: none
}
@media screen and (min-width:768px) {
  .option {
    padding-bottom: 46px
  }
  .option__list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .option__list__icon {
    width: 36px
  }
  .option__list__txt {
    font-size: 16px
  }
  .option__list__txt_width {
    min-width: 280px
  }
  .option__list__card {
    gap: 13px
  }
  .option__list__card_mar {
    margin-left: 62px
  }
  .option__list__card_top {
    margin: 0;
    margin-right: -13px
  }
  .option__br_m {
    display: none
  }
  .option__br_d {
    display: block
  }
}
.shopping {
  padding-bottom: 22px
}
.shopping__list {
  width: 100%
}
.shopping .list__href {
  margin-bottom: 42px
}
.shopping .list__href__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
  color: var(--black);
  font-size: 13px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.shopping .list__href__icon {
  width: 11px;
  height: 11px;
  margin-bottom: 4px
}
.shopping .item__nemokamas {
  width: 100%
}
.shopping .list__item_border {
  border-bottom: 3px solid var(--blue)
}
.shopping .list__item {
  width: 100%;
  border-radius: 12px;
  background: #fff;
  -webkit-box-shadow: 0 4px 50px 0 rgba(0,0,0,.1);
  box-shadow: 0 4px 50px 0 rgba(0,0,0,.1);
  padding: 10px 10px 19px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  margin-bottom: 16px;
  position: relative
}
.shopping .list__item:last-child {
  margin-bottom: 0
}
.shopping .list__item__type {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  position: relative
}
.shopping .list__item__photo {
  max-width: 100px;
  border-radius: 8px;
  height: inherit
}
.shopping .list__item__options {
  width: 100%
}
.shopping .photo__card {
  position: relative;
  width: 100%;
  max-width: 100px
}
.shopping .photo__card p {
  color: var(--black);
  font-size: 11px;
  position: absolute;
  top: 11px;
  right: 12px
}
.shopping .delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--green-bgd);
  padding: 5px 9px;
  border-radius: 8px;
  width: 100%;
  max-width: 660px;
  margin-bottom: 5px;
  opacity: 0;
  display: none
}
.shopping .delivery__opacity {
  opacity: 1;
  display: block
}
.shopping .delivery__photo {
  width: 11px;
  height: 11px;
  margin-right: 5px
}
.shopping .delivery__txt {
  color: var(--green);
  font-size: 11px;
  font-weight: 600
}
.shopping .delivery__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.shopping .item__options {
  margin-top: 7px
}
.shopping .item__options li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}
.shopping .item__options li:last-child {
  margin-bottom: 0
}
.shopping .item__options img {
  width: 9px;
  margin-right: 3px;
  margin-top: 3px
}
.shopping .item__options p {
  color: var(--black);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: normal
}
.shopping .item__options_mar {
  margin-top: 0
}
.shopping .item__price {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px
}
.shopping .item__price .price__select {
  margin-left: 4px
}
.shopping .item__price button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 4px;
  margin-right: 8px;
  margin-left: auto;
  padding: 12px 13px;
  background-color: var(--orange);
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 20px 0 rgba(253,153,10,.25);
  box-shadow: 0 4px 20px 0 rgba(253,153,10,.25);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  color: var(--white);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .3px;
  width: auto;
  white-space: nowrap
}
.shopping .item__price button:hover {
  background-color: var(--orange-hover)
}
.shopping .item__price button img {
  width: 10px;
  height: 10px;
  margin-top: -2px
}
.shopping .item__price button span {
  display: none;
  color: var(--white);
  font-size: 14px;
  font-weight: 700
}
.shopping .item__options__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px
}
.shopping .item__options__price .item__price {
  display: none
}
.shopping .select__kaina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative
}
.shopping .select__kaina:last-child {
  margin-bottom: 0
}
.shopping .select__kaina label {
  color: var(--grey);
  margin-bottom: 4px;
  font-size: 11px;
  font-weight: 500
}
.shopping .select__kaina p {
  color: var(--black);
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize
}
.shopping .select__kaina select {
  background: 0 0;
  color: var(--grey-sel);
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: 0;
  cursor: pointer
}
.shopping .select__kaina .select__kaine_arrow {
  position: relative
}
.shopping .select__kaina .select__kaine_arrow::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: -10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  pointer-events: none;
  background-image: url(../img/arrow-down.svg);
  background-size: cover;
  background-repeat: no-repeat
}
.shopping .sales {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -27px;
  left: 0
}
.shopping .sales__blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  z-index: 5;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url(../img/bgd-blue.svg) no-repeat;
  background-size: cover;
  max-width: 177px;
  height: 27px
}
.shopping .sales__blue img {
  max-width: 8px;
  margin-right: 5px;
  height: 8px;
  margin-left: 5px;
  margin-top: 2px
}
.shopping .sales p {
  color: var(--white);
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 2px
}
.shopping .sales__orange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url(../img/bgd-orange.svg) no-repeat;
  background-size: cover;
  margin-left: -160px;
  height: 27px
}
.shopping .sales__orange img {
  max-width: 8px;
  margin-right: 5px;
  height: 8px;
  margin-left: 167px;
  margin-top: 2px
}
@media screen and (min-width:768px) {
  .shopping {
    padding-bottom: 75px
  }
  .shopping .item__price {
    display: none
  }
  .shopping .item__options {
    margin-top: 0
  }
  .shopping .item__options__price .item__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  .shopping .item__options__price .item__price button {
    height: 52px;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .42px;
    padding: 17px 22px;
    margin-left: 39px
  }
  .shopping .item__options__price .item__price img {
    width: 18px;
    height: 18px;
    margin-top: 0
  }
  .shopping .list__href a {
    font-size: 16px;
    gap: 8px
  }
  .shopping .list__href a img {
    width: 18px;
    height: 18px;
    margin-bottom: 4px
  }
  .shopping .list__item {
    padding: 10px 26px 10px 10px;
    margin-bottom: 26px
  }
  .shopping .photo__card {
    max-width: 154px
  }
  .shopping .photo__card p {
    font-size: 15px;
    top: 17px;
    right: 20px
  }
  .shopping .list__item__photo {
    max-width: 154px
  }
  .shopping .delivery {
    margin-bottom: 19px;
    padding: 11px 12px;
    display: block
  }
  .shopping .delivery__photo {
    width: 17px;
    height: 17px;
    margin-right: 8px
  }
  .shopping .delivery__txt {
    font-size: 14px
  }
  .shopping .list__item__type {
    gap: 13px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .shopping .item__options {
    margin-left: 7px
  }
  .shopping .item__options img {
    margin-right: 4px;
    width: 15px;
    height: 15px;
    margin-top: 0
  }
  .shopping .item__options p {
    font-size: 13px
  }
  .shopping .select__kaina {
    margin-bottom: 6px
  }
  .shopping .item__options__price .item__price {
    margin-top: -5px;
    margin-left: auto
  }
  .shopping .item__options__price {
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset
  }
  .shopping .select__kaina label {
    font-size: 14px;
    margin-bottom: 0
  }
  .shopping .select__kaina select {
    font-size: 18px
  }
  .shopping .select__kaina p {
    font-size: 18px
  }
  .shopping .select__kaina .select__kaine_arrow::before {
    width: 17px;
    height: 17px;
    right: -20px
  }
  .shopping .sales__blue {
    max-width: 400px
  }
  .shopping .sales__blue img {
    margin-left: -20px
  }
  .shopping .sales__orange {
    max-width: 310px;
    margin-left: -122px
  }
  .shopping .sales__orange p {
    margin-left: 0
  }
  .shopping .sales__orange img {
    margin-left: 100px
  }
  .shopping .sales img {
    max-width: 12px;
    height: 12px
  }
  .shopping .sales p {
    font-size: 13px
  }
  .shopping .sales p br {
    display: none
  }
}
@media screen and (min-width:900px) {
  .shopping .select__kaina select {
    font-size: 22px
  }
  .shopping .select__kaina p {
    font-size: 22px
  }
}
.rating {
  position: absolute;
  top: -20px;
  left: -21px;
  z-index: 10
}
.rating .rating-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--white);
  position: relative
}
.rating .rating-gray {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background: #ccc
}
.rating .rating-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: conic-gradient(#52b405 0 100%,transparent 100% 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.rating .rating-value {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 35px;
  width: 35px;
  background-color: var(--white);
  border-radius: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.rating .rating-value p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 12px;
  font-weight: 700;
  color: #000
}
.rating .rating-circle.green {
  background: conic-gradient(#52b405 0 97%,transparent 97% 100%)
}
.rating .rating-circle.green p {
  color: #52b405
}
.rating .rating-circle.green-eight-f {
  background: conic-gradient(#52b405 0 85%,transparent 85% 100%)
}
.rating .rating-circle.green-eight-f p {
  color: #52b405
}
.rating .rating-circle.green-eight {
  background: conic-gradient(#52b405 0 80%,transparent 80% 100%)
}
.rating .rating-circle.green-eight p {
  color: #52b405
}
.rating .rating-circle.yellow {
  background: conic-gradient(#ffc700 0 50%,transparent 50% 100%)
}
.rating .rating-circle.yellow p {
  color: #ffc700
}
.rating .rating-circle.yellow-seven {
  background: conic-gradient(#ffc700 0 50%,transparent 50% 100%)
}
.rating .rating-circle.yellow-seven p {
  color: #ffc700
}
.rating .rating-circle.yellow-seven-four {
  background: conic-gradient(#ffc700 0 50%,transparent 50% 100%)
}
.rating .rating-circle.yellow-seven-four p {
  color: #ffc700
}
.rating .rating-circle.red {
  background: conic-gradient(#f44336 0 100%,transparent 100% 100%)
}
@media screen and (min-width:768px) {
  .rating {
    top: -20px;
    left: -21px
  }
  .rating .rating-container {
    width: 74px;
    height: 74px
  }
  .rating .rating-gray {
    width: 62px;
    height: 62px
  }
  .rating .rating-circle {
    width: 62px;
    height: 62px
  }
  .rating .rating-value {
    height: 53px;
    width: 53px
  }
  .rating .rating-value P {
    font-size: 20px
  }
}
.description {
  padding-bottom: 23px
}
.description__txt {
  text-align: center;
  margin-bottom: 26px;
  width: 100%
}
.description__txt h2 {
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px
}
.description__txt p {
  color: var(--black);
  font-size: 14px;
  margin-bottom: 12px
}
.description__txt p:last-child {
  margin-bottom: 0
}
.description__option ul {
  padding: 21px 17px;
  background-color: var(--white);
  border-radius: 12px;
  -webkit-box-shadow: 0 4px 50px 0 rgba(0,0,0,.1);
  box-shadow: 0 4px 50px 0 rgba(0,0,0,.1)
}
.description__option li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 22px
}
.description__option li:last-child {
  margin-bottom: 0
}
.description__option img {
  max-width: 24px;
  margin-right: 5px
}
.description__option p {
  color: var(--black);
  font-size: 14px
}
@media screen and (min-width:768px) {
  .description {
    padding-bottom: 60px;
    margin-top: 10px
  }
  .description__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .description__txt {
    text-align: left;
    margin-bottom: 0;
    margin-top: 11px;
    max-width: 635px
  }
  .description__txt h2 {
    font-size: 32px;
    margin-bottom: 32px
  }
  .description__txt p {
    font-size: 18px;
    margin-bottom: 25px
  }
  .description__option ul {
    padding: 40px 36px;
    max-width: 350px
  }
  .description__option li {
    margin-bottom: 60px
  }
  .description__option img {
    max-width: 38px;
    margin-right: 12px
  }
  .description__option p {
    font-size: 16px
  }
}
.comment {
  padding-bottom: 55px
}
.comment h2 {
  text-align: center;
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px
}
.comment__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.comment__card {
  padding: 14px 20px 19px;
  background-color: var(--white);
  border-radius: 12px;
  width: 100%;
  min-width: 225px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.comment__card img {
  max-width: 16px;
  height: 16px;
  margin-bottom: 10px
}
.comment__card p {
  color: var(--black);
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 17px;
  letter-spacing: 0
}
.comment .card__people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid rgba(0,0,0,.05);
  padding-top: 18px;
  margin-top: auto
}
.comment .card__people img {
  max-width: 27px;
  height: auto;
  margin-right: 8px;
  margin-bottom: 0
}
.comment .card__people h3 {
  color: var(--black);
  font-size: 12px;
  font-weight: 700
}
.comment .swiper {
  padding-bottom: 17px;
  margin-bottom: -30px
}
.comment .swiper-slide {
  width: calc(33.3333333333% - 10px);
  margin-right: 0
}
.comment .swiper-pagination-bullet {
  width: 10px;
  height: 3px;
  border-radius: 33px;
  background: var(--grey-pagination);
  margin-right: 10px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.comment .swiper-pagination-bullet-active {
  position: relative;
  background: var(--green-pagination);
  width: 20px
}
.comment .swiper-pagination {
  top: auto;
  bottom: 0
}
@media screen and (min-width:768px) {
  .comment {
    padding-bottom: 81px
  }
  .comment h2 {
    margin-bottom: 40px;
    font-size: 32px
  }
  .comment__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .comment__card {
    padding: 30px;
    max-width: 350px;
    margin-right: 0
  }
  .comment__card img {
    max-width: 23px;
    height: 23px;
    margin-bottom: 27px
  }
  .comment__card p {
    font-size: 15px;
    margin-bottom: 27px
  }
  .comment .card__people {
    padding-top: 24px
  }
  .comment .card__people img {
    max-width: 50px;
    margin-right: 15px
  }
  .comment .card__people h3 {
    font-size: 16px
  }
  .comment .swiper-slide-active {
    margin-right: 0
  }
}
.footer {
  padding: 8px 0 16px;
  background: var(--footer-bgd)
}
.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 14px;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.footer li {
  margin-right: 10px
}
.footer li:last-child {
  margin-right: 0;
  border-right: none;
  padding-right: 0
}
.footer li a {
  color: rgba(53,60,69,.6);
  font-size: 13px;
  font-weight: 500;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  white-space: nowrap;
  border-right: 1px solid rgba(131,135,140,.3);
  padding-right: 10px
}
.footer li a:hover {
  color: var(--black)
}
.footer li .border_n {
  border-right: none;
  padding-right: 0
}
.footer__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 12px;
  padding-bottom: 11px;
  border-bottom: 1px solid rgba(0,0,0,.05);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.footer__mail_m {
  display: none
}
.footer__mail img {
  max-width: 11px;
  height: 11px;
  margin-right: 6px
}
.footer__mail span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(53,60,69,.6);
  font-size: 13px;
  font-weight: 500;
  line-height: 163.5%;
  white-space: nowrap
}
.footer__mail a {
  color: rgba(53,60,69,.6);
  font-size: 13px;
  font-weight: 500;
  line-height: 163.5%;
  margin-left: 5px
}
.footer__copir {
  color: rgba(53,60,69,.6);
  font-size: 11px;
  font-weight: 500;
  line-height: 163.5%;
  text-align: center
}
@media screen and (min-width:768px) {
  .footer {
    padding: 25px 0
  }
  .footer ul {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    width: auto;
    margin-bottom: 0
  }
  .footer li {
    margin-right: 40px
  }
  .footer li a {
    font-size: 18px;
    padding-right: 40px
  }
  .footer .inner__dt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0,0,0,.05)
  }
  .footer .inner__dt .footer__mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 15px;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0
  }
  .footer .inner__dt .footer__mail img {
    max-width: none;
    width: 18px;
    margin-right: 9px;
    height: 18px
  }
  .footer .inner__dt .footer__mail span {
    white-space: nowrap;
    font-size: 15px
  }
  .footer .inner__dt .footer__mail a {
    font-size: 15px
  }
  .footer__mail {
    display: none
  }
  .footer__copir {
    font-size: 14px;
    text-align: left
  }
}
@media screen and (min-width:900px) {
  .footer .inner__dt {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
  }
  .footer .inner__dt .footer__mail {
    margin-top: 0;
    margin-left: auto;
    margin-right: 42px
  }
}