html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
table,
table tbody,
table tfoot,
table tfoot tr tf,
table thead,
table tr,
table tr th,
tr td {
  margin: 0;
  padding: 0;
  background: 0 0;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  background-image: none
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}
ul {
  list-style-type: none
}
a {
  text-decoration: none
}
button {
  background: 0 0;
  border: none;
  outline: 0;
  cursor: pointer
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: e-Ukraine;
  font-weight: 400;
  font-style: normal
}
:root {
  --container: 1110px;
  --white: #FFF;
  --black: #1C1D1E;
  --border: #DFDFDF;
  --gray-border: #939393;
  --header-bgd: linear-gradient(90deg, #1B1B1D 40.94%, #383E45 100%);
  --white-bgd: #F5F5F5;
  --yellow: #FFCE1F;
  --yellow-opacity: #FFF7DA;
  --yellow-rat: #CEA924;
  --green: #488F60;
  --yellow-2: #FFDB5F;
  --red: #DF4723;
  --red-opacity: #FEDDDD;
  --blue: #3F6B9E;
  --blue-opacity: #F1F7FF;
  --bgd-recomend: #E7F6EC
}
body {
  margin: 0;
  font-size: 16px;
  max-width: 1920px;
  line-height: 1.5;
  letter-spacing: .02em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--body-bgd)
}
main {
  overflow-x: hidden
}
html {
  scroll-behavior: smooth
}
.container {
  max-width: calc(var(--container) + 30px);
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0
}
p:last-child {
  margin-bottom: 0
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none
}
a {
  color: currentColor;
  text-decoration: none
}
button {
  cursor: pointer;
  outline: 0;
  border: none;
  background-color: transparent
}
img {
  display: block;
  width: 100%;
  height: 100%
}
button,
input,
select,
textarea {
  font: inherit;
  border: none;
  outline: 0
}
.h-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}
.header {
  background: var(--header-bgd);
  padding-top: 20px
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.header__inner img {
  max-width: 108px
}
.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px
}
.banner {
  background: var(--header-bgd);
  padding: 20px 0
}
.banner h1 {
  font-size: 20px;
  color: var(--white);
  margin-bottom: 15px
}
.banner__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px
}
.banner__form input[type=text] {
  background-image: url(../img/lupa.svg);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 10px 10px 10px 39px;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  color: var(--black)
}
.banner__form input[type=text]::-webkit-input-placeholder {
  font-size: 16px;
  color: var(--black)
}
.banner__form input[type=text]::-moz-placeholder {
  font-size: 16px;
  color: var(--black)
}
.banner__form input[type=text]:-ms-input-placeholder {
  font-size: 16px;
  color: var(--black)
}
.banner__form input[type=text]::-ms-input-placeholder {
  font-size: 16px;
  color: var(--black)
}
.banner__form input[type=text]::placeholder {
  font-size: 16px;
  color: var(--black)
}
.banner__form input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0
}
.banner__form input[type=date] {
  position: relative;
  width: 100%;
  height: 44px;
  max-width: 128px;
  border-radius: 8px 0 0 8px;
  padding: 12px 10px 12px 39px;
  font-size: 14px;
  font-weight: 300;
  line-height: 140%;
  border-right: 1px solid var(--border);
  background-image: url(../img/calendar.svg);
  background-position: 10px 10px;
  background-repeat: no-repeat
}
.banner__form_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.banner__form_passenger {
  width: 100%
}
.banner__form_passenger button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 10px;
  background: var(--white);
  border-radius: 0 8px 8px 0;
  width: 100%
}
.banner__form_passenger .passenger__txt {
  font-size: 14px;
  font-weight: 300;
  line-height: 140%
}
.banner__form_passenger img {
  max-width: 20px;
  margin-right: 5px
}
.banner__form_passenger .passenger__txt_margin {
  margin-bottom: 10px
}
.banner__form_passenger .form_passenger_body {
  display: none;
  background: var(--white);
  border-radius: 0 0 8px 8px;
  padding: 10px 35px
}
.schedule {
  padding-top: 50px;
  background: var(--white-bgd)
}
.schedule h2 {
  font-size: 20px;
  color: var(--black);
  margin-bottom: 20px
}
.schedule__reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--white);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px
}
.schedule__arrow {
  margin-left: auto;
  border-radius: 50%;
  padding: 13px;
  border: 1px solid var(--gray-border);
  cursor: pointer
}
.schedule__arrow img {
  max-width: 24px
}
.schedule__reverse_con h3 {
  color: var(--gray-border);
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 300;
  line-height: 140%
}
.schedule__reverse_con p {
  font-size: 14px;
  font-weight: 300;
  line-height: 140%
}
.schedule__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px
}
.schedule__filter li {
  background: var(--white);
  border: 1px solid var(--border);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px
}
.schedule__filter img {
  max-width: 24px;
  margin-left: auto
}
.schedule__filter p {
  font-size: 14px;
  font-weight: 300;
  line-height: 140%;
  color: var(--black);
  margin-right: 10px
}
.schedule__filter .filter__arrows {
  max-width: 27px
}
.schedule__filter_li {
  width: 100%;
  max-width: 170px
}
.schedule__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.schedule .schedule__date_li {
  padding: 5px 10px 10px;
  background: var(--white);
  border-bottom: 5px solid var(--border)
}
.schedule .schedule__date_li:first-child {
  border-radius: 10px 0 0 10px
}
.schedule .schedule__date_li:last-child {
  border-radius: 0 10px 10px 0
}
.schedule__date__departure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.schedule__date__departure p {
  font-size: 12px;
  color: var(--gray-border);
  margin-right: 4px
}
.schedule__date__departure .departure__places {
  font-size: 12px;
  font-weight: 300;
  color: var(--gray-border);
  padding: 4px;
  border-radius: 50%;
  background: var(--white-bgd);
  margin-right: 0
}
.schedule .departure__price {
  font-size: 10px;
  font-weight: 300;
  color: var(--gray-border)
}
.schedule .schedule__date_active {
  border-bottom: 5px solid var(--yellow)
}
.schedule .schedule__date_active .schedule__date__departure p {
  color: var(--black)
}
.schedule .schedule__date_active .departure__price {
  color: var(--black)
}
.ticket {
  padding: 20px 0 100px;
  background: var(--white-bgd)
}
.ticket__list li {
  padding: 15px;
  border-radius: 8px;
  background: var(--white);
  -webkit-box-shadow: 0 0 10px 0 rgba(108,108,108,.4);
  box-shadow: 0 0 10px 0 rgba(108,108,108,.4);
  margin-bottom: 20px
}
.ticket__list li:last-child {
  margin-bottom: 0
}
.ticket__list .ticket__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--white-bgd);
  margin-bottom: 15px
}
.ticket__list .ticket__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.ticket__list .ticket__header p {
  font-size: 14px;
  font-weight: 300;
  line-height: 140%
}
.ticket__list .ticket__logo {
  padding: 5px;
  background: var(--border);
  border-radius: 50%;
  margin-right: 5px
}
.ticket__list .ticket__logo img {
  max-width: 20px
}
.ticket__list .ticket__rating {
  margin-left: auto
}
.ticket__list .ticket__rating p {
  padding: 8px 10px;
  background: var(--yellow-opacity);
  border-radius: 16.5px;
  color: var(--yellow-rat);
  font-size: 12px
}
.ticket__list .ticket__info__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 9px
}
.ticket__list .ticket__info__first:last-child {
  margin-bottom: 0
}
.ticket__list .ticket__time {
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.ticket__list .ticket__time h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 140%
}
.ticket__list .ticket__time p {
  font-size: 10px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--gray-border);
  margin-top: auto;
  white-space: nowrap
}
.ticket__list .ticket__time p img {
  max-width: 10px;
  margin-right: 3px
}
.ticket__list .ticket__info {
  margin-bottom: 15px
}
.ticket__list .time__opacity {
  opacity: 0
}
.ticket__list .ticket__city {
  margin-left: -14px
}
.ticket__list .ticket__city h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  margin-bottom: 5px
}
.ticket__list .ticket__city img {
  max-width: 17px;
  margin-left: 3px
}
.ticket__list .ticket__city .ticket__city_mar {
  margin-bottom: 0
}
.ticket__list .ticket__city p {
  font-size: 12px;
  font-weight: 300;
  color: var(--gray-border);
  margin-bottom: 25px
}
.ticket__list .ticket__arrival {
  background: var(--border);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin-bottom: 15px
}
.ticket__list .ticket__arrival img {
  max-width: 20px;
  margin-right: 5px
}
.ticket__list .ticket__arrival p {
  font-size: 12px;
  color: var(--black)
}
.ticket__list .ticket__graphic {
  padding-top: 15px;
  border-top: 1px solid var(--white-bgd);
  margin-bottom: 15px
}
.ticket__list .graphic__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.ticket__list .graphic__lft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.ticket__list .graphic__lft .graphic__calendar {
  margin-right: 5px;
  background: var(--white-bgd);
  padding: 4px;
  border-radius: 50%
}
.ticket__list .graphic__lft .graphic__calendar img {
  max-width: 13px
}
.ticket__list .graphic__lft h3 {
  font-size: 12px;
  font-weight: 300;
  color: var(--gray-border)
}
.ticket__list .graphic__lft h3 span {
  font-size: 12px;
  font-weight: 300;
  color: var(--black)
}
.ticket__list .graphic__rht {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px
}
.ticket__list .graphic__rht p {
  font-size: 12px;
  font-weight: 300;
  color: var(--black)
}
.ticket__list .graphic__item {
  padding: 4px;
  background: var(--white-bgd);
  border-radius: 50%
}
.ticket__list .graphic__item img {
  max-width: 13px
}
.ticket__list .details__places__people {
  background: var(--white-bgd);
  border-radius: 50%;
  padding: 4px
}
.ticket__list .details__places__people img {
  width: 14px
}
.ticket__list .details__places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.ticket__list .details__places p {
  font-size: 12px;
  font-weight: 300;
  color: var(--black);
  white-space: nowrap;
  margin-left: 5px
}
.ticket__list .ticket__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--white-bgd)
}
.ticket__list .details__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 221px;
  padding: 3.5px 54.5px;
  background: var(--white-bgd);
  margin-left: 15px;
  border-radius: 8px;
  font-size: 12px;
  color: var(--gray-border)
}
.ticket__list .details__btn img {
  max-width: 24px;
  margin-left: 8px
}
.ticket__list .ticket__cost {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 8px
}
.ticket__list .ticket__cost h2 {
  font-size: 20px;
  color: var(--black)
}
.ticket__list .ticket__cost p {
  font-size: 12px;
  color: var(--green);
  margin-left: 5px
}
.ticket__list .ticket__cost img {
  max-width: 20px
}
.ticket__list .ticket__prepayment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.ticket__list .ticket__bron {
  padding: 15px 25px;
  background: var(--yellow);
  width: 100%;
  border-radius: 8px;
  margin-bottom: 7px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--black)
}
.ticket__list .ticket__posadka {
  font-size: 12px;
  color: var(--gray-border);
  text-transform: uppercase;
  text-align: center
}
.ticket__list .ticket__recomend {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--white-bgd);
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.ticket__list .rubicon__recomend {
  background: var(--yellow-2);
  border-radius: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 10px;
  padding: 4.5px 7px
}
.ticket__list .rubicon__recomend img {
  max-width: 15px;
  margin-right: 5px
}
.ticket__list .rubicon__reis {
  padding: 6px 9.5px;
  background: var(--red-opacity);
  border-radius: 17px
}
.ticket__list .rubicon__reis p {
  color: var(--red);
  font-size: 10px
}
.ticket__list .rubicon__fast {
  padding: 6px 9.5px;
  border-radius: 17px;
  background: var(--blue-opacity)
}
.ticket__list .rubicon__fast p {
  font-size: 10px;
  color: var(--blue)
}
.ticket__list .rubicon__chip {
  padding: 6px 9.5px;
  border-radius: 17px;
  background: var(--bgd-recomend)
}
.ticket__list .rubicon__chip p {
  font-size: 10px;
  color: var(--green)
}
.ticket__list .ticket__prepayment_fiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.ticket__list .ticket__prepayment_fiv img {
  max-width: 20px;
  margin-left: 5px
}
.ticket__list .ticket__prepayment_fiv p {
  font-size: 12px;
  color: var(--gray-border);
  text-transform: uppercase
}