doctype html
html(lang="ru")
	head
		title Project

		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(name="description" content="Website")
		meta(name="keywords" content="Website")

		//- link(rel="stylesheet" href="css/animate.css")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")

		<!-- ** STYLE ** -->
		link(rel="stylesheet" href="css/style.css")

	block body
